<nb-card>
    <nb-card-header  i18n="@@listFolder"> 
      
         
    <h4 class="text-center">
        Exercice:   {{exercice.designation}}-{{exercice.annee}}
    </h4>
  </nb-card-header>
    <!-- </nb-card-body>
    </nb-card>
  <nb-card  > -->
    <nb-card-body  > 

<table class="table table-bordered"   >
  <thead>
    <tr style="background-color:#dee2e6;">
      <th scope="col">Journal</th>
      <th scope="col">Ecriture</th>
      <th scope="col">Date  </th>
      <th scope="col">Débit</th>
      <th scope="col">Crédit </th>
       
      
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let   item  of operations; let i = index; let c = count" >

        
      <td  >{{item.ecriture.journal.designation}}</td>
      <td >{{item.ecriture.libelle}}</td>
      <td >{{item.date | date}} </td>
      <td   >{{item.debit}} </td>
      <td  >{{item.credit}} </td>
     
    
     
       

      </tr>
      </tbody>
      </table>
</nb-card-body>
</nb-card>

      