<div style="width:60vw;max-height: 85vh">
  <nb-card>
    <nb-card-body>


      <div class="row full-name-inputs">
        <div class="form-group col-md-6 col-lg-6 input-group-sm" style="margin-bottom: 20px;">
          <label class="label">Référence :</label>
          <input placeholder="Référence" [(ngModel)]="demandeAchat.reference" class="form-control">
        </div>
        <div class="form-group col-md-6 col-lg-6 input-group-sm" style="margin-bottom: 20px;">
          <label class="label">Désignation :</label>
          <input placeholder="Désignation" [(ngModel)]="demandeAchat.designation" class="form-control">
        </div>
      </div>
      <div class="row full-name-inputs">
        <div class="form-group col-md-4 col-lg-4 input-group-sm" style="margin-bottom: 20px;">
          <label _ngcontent-udb-c31="" class="label">Demandeur :</label>
          <input disabled type="text" class="form-control" [(ngModel)]="demandeAchat.typeDemande" />
        </div>
        <div class="form-group col-md-4 col-lg-4 input-group-sm" style="margin-bottom: 20px;">
          <label _ngcontent-udb-c31="" class="label">Date Demande :</label>
          <input disabled placeholder="Date Commande" name="dateDemande" #startdate
            [(ngModel)]="demandeAchat.dateDemande" class="form-control" [nbDatepicker]="dateDemande" i18n="@@startdate">
          <nb-datepicker #dateDemande></nb-datepicker>
        </div>
        <div class="form-group col-md-4 col-lg-4 input-group-sm" style="margin-bottom: 20px;">
          <label _ngcontent-udb-c31="" class="label">Date Livraison :</label>
          <input disabled placeholder="Date Livraison" name="dateLivraison" #startdate
            [(ngModel)]="demandeAchat.dateLivraison" class="form-control" [nbDatepicker]="dateLivraison"
            i18n="@@startdate">
          <nb-datepicker #dateLivraison></nb-datepicker>
        </div>
      </div>

      <div class="row full-name-inputs">
        <div class="form-group col-md-12 col-lg-12 input-group-sm" style="margin-bottom: 20px;">
          <label _ngcontent-udb-c31="" class="label">Description :</label>
          <textarea disabled type="text" placeholder="Description" class="form-control"
            [(ngModel)]="demandeAchat.description"></textarea>
        </div>
      </div>
    </nb-card-body>
  </nb-card>

  <nb-card>
    <nb-card-body>
      <ng2-smart-table (custom)="onCustom($event)" [settings]="settings" [source]="source"
        (editConfirm)="onSaveConfirm($event)">
      </ng2-smart-table>
    </nb-card-body>
  </nb-card>

  <div style="text-align:right;">
    <button size="xsmall" status="danger" nbButton style="cursor: pointer;margin: 0.5rem;align-content: center;"
      (click)="close()">Fermer</button>
  </div>

</div>