.popup {
    width: 75vw;
    max-height: 85vh;
}

.header {
    width: 100%;
    background-color: #e6eaf1;
    padding: 10px;
    color: #2a2a2a;
    font-family: Exo;
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
    border: 1px solid #dee2e6;
}