<nb-card>
  <nb-card-header class="text-center">
   Regimes horaire de l'entreprise 
   <button [hidden]="ADD" size="xsmall" (click)="openWindow()" class="btn btn-hero-success" nbButton style="background: #40dc7e; color: #ffffff; padding: 0.5rem 4rem; margin-left: 0.25rem;" >
    + </button>
  </nb-card-header>
  <nb-card-body>
           
                    <ng2-smart-table class="full-width text-center" 
                                     [settings]="settings"
                                     [source]="source"
                                     (custom)="onCustom($event)"
                                     (deleteConfirm)="onDeleteConfirm($event)">
                    </ng2-smart-table>
  </nb-card-body>
</nb-card>

