<div style="width: 40vw;">

    <div class="form-group col-md-12 col-lg-12 input-group-sm">
      <label class="label" for="title">Titre</label>
      <input type="text" name="title" id="title" 
      [(ngModel)]="note.surveyTitle" class="form-control"  [disabled] = "disabled" >
    </div>
    <div class="form-group col-md-12 col-lg-12 input-group-sm">
      <label class="label" for="role">Contenu: </label>
      <textarea  name="role" id="role" 
      [(ngModel)]="note.surveyContent" rows=8 class="form-control" [disabled] = "disabled" ></textarea>
    </div>
</div>

<div style="text-align:right;">
  <button nbButton  status="success" (click)="add()" [hidden]='disabled' >{{btn}}</button>
  <button nbButton  status="danger" (click)="close()"
    style="margin-left: 3px;">Retour</button>
</div>
