.p {
    border: 2px solid  black;
    border-radius: 5px;
    background-color:#f7f7f7;
    font-style: italic;
     
  }
  .journal{
    margin-left: 40%;
    font-size: -webkit-xxx-large;
  }
  .row2{
    margin-left: 60%;
    display: flex;
  }

  .note {
    padding: 0.8rem 3rem 0.1rem 1.25rem;
    border-radius: .25rem;
 //   margin-bottom: 3rem;
}
.note-info {
    // color: #5699F0;
    // background-color: #F0F6FF;
    color: #004085;
    background-color: #CCE5FF;
    border-color: #B8DAFF;
  }
.note-title {
font-weight: 500;
text-transform: uppercase;
// margin-bottom: 1.5rem;
}
.note-body {
font-size: .875rem;
line-height: 1.5;
}
