<div class="popup">

<nb-card >
  <nb-card-header>
    Détails
  </nb-card-header>
   <nb-card-body>    
       <div class="row">
        <div class="form-group col-md-2 col-lg-2 input-group-sm">
          <label  class="label">Référence :</label>
          <input disabled type="text" placeholder="Référence" class="form-control" [(ngModel)]="mvt.reference"/>
        </div> 
        <div class="form-group col-md-4 col-lg-4 input-group-sm">
          <label  class="label">Désignation :</label>
          <input disabled type="text" placeholder="Désignation" class="form-control" [(ngModel)]="mvt.designation" />
        </div> 
        <div class="form-group col-md-3 col-lg-3 input-group-sm">
          <label class="label">Date mouvement:</label>
          <input disabled name="date4" #date4  [(ngModel)]="mvt.dateOperation" class="form-control" [nbDatepicker]="date4" />
          <nb-datepicker #date4 ></nb-datepicker>       
        </div>
        <div class="form-group col-md-3 col-lg-3 input-group-sm">
          <label  class="label">Contrôle Qualité :</label>
          <ng-select disabled name="condition " placeholder="Contrôle Qualité" [(ngModel)]="mvt.qualite">
            <ng-option value="Réalisé">Réalisé</ng-option>
            <ng-option value="Non réalisé">Non réalisé</ng-option>
          </ng-select> 
         </div>   
        <div class="from-group col-md-12 col-lg-12 input-group-sm">
          <label for="">Commentaire</label>
          <textarea disabled rows="2" placeholder="Commentaire" class="form-control"
            [(ngModel)]="mvt.commentaire"></textarea>
        </div>  
      </div>
     </nb-card-body>
</nb-card>
<nb-card >
  <nb-card-header>
    Liste de produits
  </nb-card-header>
  <nb-card-body>  
    <ng2-smart-table 
    class="full-width text-center"
    [settings]="pSettings"
    [source]="mvt.mouvementProduit"
    >
    </ng2-smart-table>
  </nb-card-body>
</nb-card>
<div style="text-align:right;padding-bottom: 10px;">
  <button nbButton status="danger" style="cursor: pointer;align-content: center;"
    (click)="close()">Fermer</button>
</div>
</div>