<div class="col-md-12 col-lg-12" style="width:700px; height: 350px">
  <div class="row">
    <div class="col-lg-12" style="width:700px">
      <nb-card>
        <nb-card-body>
          <div class="row full-name-inputs">

            <div class="form-group col-md-4 col-lg-4 input-group-sm">
              <label _ngcontent-udb-c31="" class="label">Entreprise:</label>
              <ng-select name="entreprise" [items]="entreprises" bindValue="enterpriseId" bindLabel="socialReason"
                placeholder="Entreprise" [(ngModel)]="personnelContracte.idEntreprise" [appendTo]="'body'" style="width:100%;" disabled>
              </ng-select>
            </div>

            <div class="form-group col-md-4 col-lg-4 input-group-sm">
              <label _ngcontent-udb-c31="" class="label">Date de recrutement :</label>
              <input disabled placeholder="Date recrutement.." name="dateRec"
                [(ngModel)]="personnelContracte.recrutdateP" class="form-control" [nbDatepicker]="dateRec" required>
              <nb-datepicker #dateRec></nb-datepicker>
            </div>
            <div class="form-group col-md-4 col-lg-4 input-group-sm">
              <label _ngcontent-udb-c31="" class="label">Num CIN :</label>
              <input disabled type="text" placeholder="Num CIN" class="form-control"
                [(ngModel)]="personnelContracte.cinP" />
            </div>
          </div>
          <div class="row full-name-inputs">
            <div class="form-group col-md-6 col-lg-6 input-group-sm">
              <label _ngcontent-udb-c31="" class="label">Nom Complet:</label>
              <input disabled type="text" placeholder="Nom Complet" class="form-control"
                [(ngModel)]="personnelContracte.nomP" />
            </div>

            <div *ngIf="personnelContracte.typeP =='Contracté'" class="form-group col-md-6 col-lg-6 input-group-sm">
              <label _ngcontent-udb-c31="" class="label">État Social</label>
              <input disabled type="text" placeholder="État social" class="form-control"
                [(ngModel)]="personnelContracte.etatsocP" />
            </div>
          </div>
          <div class="row full-name-inputs">
            <div class="form-group col-md-4 col-lg-4 input-group-sm">
              <label _ngcontent-udb-c31="" class="label">Adresse :</label>
              <input type="text" placeholder="Adresse" class="form-control" disabled
                [(ngModel)]="personnelContracte.adresseP" />
            </div>

            <div class="form-group col-md-4 col-lg-4 input-group-sm">
              <label _ngcontent-udb-c31="" class="label">Num téléphone :</label>
              <input type="text" placeholder="Numéro téléphone" class="form-control" disabled
                [(ngModel)]="personnelContracte.telP" />
            </div>

            <div *ngIf="personnelContracte.typeP=='Contracté'" class="form-group col-md-4 col-lg-4 input-group-sm">
              <label _ngcontent-udb-c31="" class="label">Email :</label>
              <input type="email" placeholder="Email" class="form-control" disabled
                [(ngModel)]="personnelContracte.emailP" />
            </div>
          </div>

          <div *ngIf="personnelContracte.typeP =='Contracté'" class="row full-name-inputs">
            <div class="form-group col-md-4 col-lg-4 input-group-sm">
              <label _ngcontent-udb-c31="" class="label">Banque :</label>
              <input type="text" placeholder="Banque" class="form-control" disabled
                [(ngModel)]="personnelContracte.banqueC" />
            </div>
            <div class="form-group col-md-8 col-lg-8 input-group-sm">
              <label _ngcontent-udb-c31="" class="label">Numéro du compte :</label>
              <input type="number" placeholder="Numéro du compte" class="form-control" disabled
                [(ngModel)]="personnelContracte.numcomptC" />
            </div>
          </div>
          
          <div style="text-align:right;">
            <button nbButton style="cursor: pointer;margin: 0.5rem;align-content: center;" size="xsmall" status="danger"
              (click)="onclose()">Fermer</button>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>