 
  
<div class="col-md-12 col-lg-12" style="width: 70vw; height: 45vh">
 
   
    <form    #form="ngForm" (ngSubmit)="save()"  > 
    
      
        <nb-card   >
          <nb-card-body>
   
            
            <div class="row full-name-inputs">
              
              <div class="form-group col-md-4 col-lg-4 input-group-sm">
                 <label _ngcontent-udb-c31="" class="label">    Numéro   </label> 
                <input  [disabled]="disabled"  [(ngModel)]="operation.numero"  type="number" name="numero"  placeholder="Numéro" class="form-control"
                 required  />
                 <div [hidden]="!(form.controls.numero?.dirty && form.controls.numero?.invalid)">
                  <small class="form-text text-danger"
                  [hidden]="!form.controls.numero?.errors?.required"  >
                  Ce champ est requis.
                  </small>
                  <small class="form-text text-danger"
                  [hidden]="!form.controls.numero?.errors?.minlength"  >
                  Ce champ doit contenir au moins 3 caractères.
                  </small>
                   
              </div>
              <div [hidden]="validReference">
                <small class="form-text text-danger" >
                  référence existe déjà
                </small>
  
              </div>
  
              </div>
  
              <div class="form-group col-md-4 col-lg-4 input-group-sm">
                  <label _ngcontent-udb-c31="" class="label">    Priorité   </label> 
                 <input  [disabled]="disabled"  [(ngModel)]="operation.priorite"  type="number" name="priorite"  placeholder="Priorité" class="form-control"
                  required  />
                
                
   
               </div>
                
               <div class="form-group col-md-4 col-lg-4 input-group-sm">
                  <label _ngcontent-udb-c31="" class="label">    Désignation   </label> 
                 <input required   [disabled]="disabled"   [(ngModel)]="operation.designation"  type="text" name="designation" placeholder="Désignation" class="form-control"
             />
               </div>
               
              
            </div>
  
            <div class="row full-name-inputs">
               
                 
                 <div class="form-group col-md-6 col-lg-6 input-group-sm">
                  <label _ngcontent-udb-c31="" class="label">        Phase   </label> 
                 
                  <ng-select 
                  name="phase"
                  placeholder=" choisire  Phase  " 
                  [appendTo]="'body'"
                  [items]="phases"
                  bindLabel="designation"
                  required
                  [(ngModel)]="operation.phase"
                 >
                </ng-select>
               </div>

               <div class="form-group col-md-3 col-lg-3 input-group-sm">
                  <label _ngcontent-udb-c31="" class="label">     Temps Fixe  (Min)  </label> 
                 <input required   [disabled]="disabled"   [(ngModel)]="operation.tempsFixe"  type="text" name="tempsFixe" placeholder=" Temps Fixe " class="form-control"
             />
               </div>

               <div class="form-group col-md-3 col-lg-3 input-group-sm">
                  <label _ngcontent-udb-c31="" class="label">     Temps  Production   (Min) </label> 
                 <input required   [disabled]="disabled"   [(ngModel)]="operation.tempsProduction"  type="text" name="tempsproduction" placeholder=" Temps  Production  " class="form-control"
             />
               </div>
   
  
  
            </div>

            <div class="row full-name-inputs">
               
                 
                  
   
  
  
            </div>

            <div class="row full-name-inputs">
                <div class="form-group col-md-6 col-lg-6 input-group-sm">
                    <label _ngcontent-udb-c31="" class="label">         Catégorie Machine   </label> 
                   
                    <ng-select 
                    name="cate"
                    placeholder=" Catégorie Machine  " 
                    [appendTo]="'body'"
                    [items]="categories"
                    bindLabel="non"
                   
                    [(ngModel)]="operation.categorieMachine"
                   >
                  </ng-select>
                 </div>
     

                 <div class="form-group col-md-6 col-lg-6 input-group-sm" >
                     
                   
                        <label _ngcontent-udb-c31="" class="label">       Document        :</label><br>
                        
                        <input *ngIf="etat === 'add'"  style="margin-top: 1%" required   [disabled]="disabled"    (change)="selectFile($event)"   
                         type="file" name="file" placeholder=" Temps  Production  " >
                      </div>
                     
                 
                 

                 <input type="button" (click)="downlod()" value="TÉLECHARGER">
                  
   
  
  
            </div>
  
            <div class="row full-name-inputs">  
              <div class="form-group col-md-12 col-lg-12 input-group-sm">
                  <label _ngcontent-udb-c31="" class="label">      Commentaire        :</label>
                  <textarea   [disabled]="disabled" nbInput fullWidth placeholder="Textarea" name="commentaire"   [(ngModel)]="operation.commentaire" ></textarea>
                </div>
        
          </div>
  
  
  
   
  
  
            
   
          
  
            
           
            
    
          </nb-card-body>
        </nb-card>
        <div style="text-align:right;" [hidden]="disabled">
            <button nbButton style="cursor: pointer;margin: 0.5rem;align-content: center;" status="success"
            [disabled]=!form.valid     type="submit" > {{message}}</button>
            <button (click)="onclose()" nbButton status="danger"
              style="cursor: pointer;margin: 0.5rem;align-content: center;">Annuler</button>
          </div>
  
    
    </form>
    </div>
  