.headerStyle {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .searshStyle {
    display: flex;
    align-items: center;
    margin-bottom: 1.25rem;
  }
  table, td, th {
    border:  #5e5e5e 1px solid;
  }
  th ,td {
    text-align: center;
    font-family: initial;
     }
th {
  font-family: initial;
}
.button-imprim{
   padding: 7px 4px;
   border-radius: 4px;
}
i.fa.fa-print{
   margin-right: 5px;
}
.description-employeur{
  border: #5e5e5e 1px solid;
//  text-align: center ;
  height: 7.5rem;
  font-family: initial;
}
  .footer-declaration{
   text-align: right;
   font-family: initial;
  }