<div style="width: 60vw; height: 40vh">

<div class="row">
<div class="col-sm-12">
 <h3 style="text-align: center">  coût de revient :  {{ total(machines,employees) | number : '0.3-3'}}  /{{money}}/  heure </h3>   

</div>


<nb-tabset>
  <nb-tab style="width:  60vw" tabTitle="Machines">
    <table style="margin-top: 2%;" class="table table-striped table-bordered ">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Machine</th>
          <th scope="col">Valeur</th>
          <th scope="col">Durée Amortissement (Ans)</th>
          <th scope="col">Frais maintenance(H)</th>
          <th scope="col">Frais Démmarage(H)</th>
          <th scope="col">Frais rébut(H)</th>
          <th scope="col">Coût (H) </th>
          <!--  -->
           
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let   item of  machines; let i = index; let c = count" >
          <td  >{{item.referenceDesignation}}</td>
          <td  >{{item.valeurAchat | number : '0.3-3'}}</td>
          <td  >{{item.dureeAmortissement | number : '0.3-3'}}</td>
          <td  >{{item.fraisMaitenence | number : '0.3-3'}} </td>
          <td  >{{item.fraisDemmarage | number : '0.3-3' }}</td>
          <td >{{item.fraisRebut | number : '0.3-3'}}</td>
          <td  >{{item.coutRevient  | number : '0.3-3'}} </td>
         
  
         
           
        </tr>
      </tbody>
  
        <tfoot style="background-color:#D3D3D3;">
            <td  > TOTAUX :  </td>
            <td></td>
            <td></td>   
            <td></td>
            <td></td> 
            <td></td>     
            <td> {{  getTotalCoutMachine(machines ) | number : '0.3-3'}}</td>
        
           
        </tfoot>
        
    </table>
  
  </nb-tab>
  <nb-tab tabTitle="Employées"    style="width: 60vw;">
    
       <table style="margin-top: 2%;" class="table table-striped table-bordered " >
        <thead class="thead-dark">
          <tr>
            <th scope="col"> Employée</th>
            <th scope="col"> Salaire</th>
            <th scope="col">Régime</th>
            <th scope="col">Coût(H)</th>
             
            <!-- *ngFor="let  operation of journal.listOperation; let i = index; let c = count" -->
          </tr>
        </thead>
        <tbody>
          <tr  *ngFor="let   item of   employees; let i = index; let c = count"   >
            <td  > {{item.nameMatricule}}</td>
            <td  >{{item.salaireBase | number : '0.3-3'}} </td>
            <td  >{{item.regime.regimeType}} </td>
            <td  > {{item.coutHeure | number : '0.3-3' }} </td>
            
           
    
           
             
          </tr>
        </tbody>
    
          <tfoot style="background-color:#D3D3D3;">
              <td  > TOTAUX :  </td>
              <td></td>
              <td></td>   
              <td> {{ getTotalCoutEmployee(employees)  |  number : '0.3-3'  }} </td>
               
          
             
          </tfoot>
          
      </table> 
  </nb-tab>
 </nb-tabset>




 


 



  </div></div>