
<div class="col-md-12 col-lg-12" style="width:750px; min-height: 250px">
  <div class="row">
    <div class="col-lg-12">
      <nb-card>
        <nb-card-body>
          <div class="row full-name-inputs">
            <div class="form-group col-md-6 col-lg-6 input-group-sm">
              <label _ngcontent-udb-c31="" class="label">Nom :</label>
              <input type="text" placeholder="Nom" class="form-control"
               disabled     [(ngModel)]="utilisateur.lastName"/>
            </div>
            <div class="form-group col-md-6 col-lg-6 input-group-sm">
              <label _ngcontent-udb-c31="" class="label">Prénom :</label>
              <input type="text" placeholder="Prénom" class="form-control"
              disabled    [(ngModel)]="utilisateur.firstName"/>
            </div>
          </div>
          <div class="row full-name-inputs">
                <div class="form-group col-md-6 col-lg-6 input-group-sm">
                    <label _ngcontent-udb-c31="" class="label">Gender :</label>
                  <ng-select disabled
                    name="gender"
                    placeholder="Gender"
                    [(ngModel)]="utilisateur.gender"
                    [appendTo]="'body'"
                    style="width:100%; ">
                    <ng-option value="Masculin">Masculin</ng-option>
                    <ng-option value="Feminin">Feminin</ng-option>
               </ng-select>
                </div>

              <div class="form-group col-md-6 col-lg-6 input-group-sm">
                <label _ngcontent-udb-c31="" class="label">Rôle :</label>
                <ng-select disabled
                [items]= "publicRoles"
                placeholder="Choisir"
                [(ngModel)]="utilisateur.roleId"
                size="xsmall"
               bindLabel="name"
               bindValue="id"
                style="width:100%; ">
           </ng-select>

              </div>
              </div>
              <div class="row full-name-inputs">
              <div class="form-group col-md-6 col-lg-6 input-group-sm">
                <label _ngcontent-udb-c31="" class="label">Email :</label>
                <input type="text" placeholder="E-mail" class="form-control"
                disabled   [(ngModel)]="utilisateur.email"/>
              </div>
             
            <div class="form-group col-md-6 col-lg-6 input-group-sm">
              <label _ngcontent-udb-c31="" class="label">Nom d'utilisateur :</label>
              <input type="text" placeholder="Login" class="form-control"
              disabled   [(ngModel)]="utilisateur.username"/>
            </div>
            <!-- <div class="form-group col-md-5 col-lg-5 input-group-sm">
              <label _ngcontent-udb-c31="" class="label">Mot De Passe :</label>
              <input type="password" class="form-control"
              disabled   [(ngModel)]="utilisateur.password"/>
            </div> -->
              </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>
