<nb-card>
    <nb-card-header class="text-center">
        Liste des propositions d'achats  
         <button (click)="openWindow()" nbButton status="success" size="xsmall"
        style="width: 100px;" [hidden] =add ><i class="fas fa-plus"></i>
       </button>
      </nb-card-header>
      <nb-card-body >
        <ng2-smart-table class="full-width text-center"
                         [settings]="settings"
                         [source]="source"
                         (custom)="onCustom($event)"
                         (deleteConfirm)="onDeleteConfirm($event)">
        </ng2-smart-table>
  </nb-card-body>
</nb-card>