<div style="width:50vw">
  <form #monFormulaire1=ngForm>

    <div class="row full-name-inputs">
      <div class="input-group col-md-6 col-lg-6 input-group-sm">
        <label>Banque: </label>
        <ng-select required [items]="banques" bindLabel="nom" name="nom" placeholder="Banque"
          [(ngModel)]="compte.banque" [appendTo]="'body'" style="width:100%;">
        </ng-select>
      </div>
      <div class="input-group col-md-6 col-lg-6 input-group-sm">
        <label>Agence: </label>
        <input required autofocus type="text" name="Agence" style="width:100%;" class="form-control"
          [(ngModel)]="compte.agence">
      </div>
    </div>

    <div class="row full-name-inputs" style="margin-top: 1rem;">
      <div class="input-group col-md-4 col-lg-4 input-group-sm">
        <label>Unitée de transaction: </label>
        <ng-select required [items]="unites" bindLabel="designation" bindValue="idT" 
        name="unite" placeholder="Unité de transaction" [(ngModel)]="compte.idUnite" [appendTo]="'body'" style="width:100%;">
        </ng-select>
      </div>
      <div class="input-group col-md-8 col-lg-8 input-group-sm">
        <label>RIB (20 chiffres): </label>
        <input required type="text" name="rib" minlength="20" maxlength="20" style="width:100%;" class="form-control"
          [(ngModel)]="compte.rib">
      </div>
    </div>

    <div class="row full-name-inputs" style="margin-top: 1rem;">
      <div class="input-group col-md-6 col-lg-6 input-group-sm">
        <label>Code IBAN: </label>
        <input type="text" name="Code iban" style="width:100%;" class="form-control" [(ngModel)]="compte.iban">
      </div>
      <div class="input-group col-md-6 col-lg-6 input-group-sm">
        <label>Code BIC: </label>
        <input type="text" name="Code bic" class="form-control" style="width:100%;" [(ngModel)]="compte.bic">
      </div>
    </div>

    <div style="text-align:right;margin-top: 1rem;">
      <button nbButton style="cursor: pointer;align-content: center;" [disabled]=!monFormulaire1.valid (click)="add()"
        status="success">{{A}}</button> &nbsp;
      <button nbButton (click)="close()" style="cursor: pointer;align-content: center;" status="danger">Annuler</button>
    </div>
  </form>
</div>