<div class="col-md-12 col-lg-12" style="width:1500px;height:700px">
  <div class="row">
    <div class="col-lg-12" style="width:1500px;height:650px">
      <nb-card>
        <nb-card-body>
          <nb-tabset fullWidth>
            <nb-tab tabTitle="Commande">
              <nb-card-body>
                <div class="row full-name-inputs">
                  <!-- <div class="form-group col-md-4 col-lg-4 input-group-sm">
                    <label _ngcontent-udb-c31="" class="label"> Client :</label>
                    <ng-select name="client" placeholder="client" [appendTo]="'body'" style="width:100%;"
                      [(ngModel)]="commande.code_clt" bindValue="id" [items]="clients" bindLabel="nameC"
                      (change)="getReferenceclient()">
                    </ng-select>
                </div>
                  <div class="form-group col-md-3 col-lg-3 input-group-sm">
                    <label _ngcontent-udb-c31="" class="label">Contrat :</label>
                    <ng-select name="client" placeholder="Réference contrat" [appendTo]="'body'" style="width:100%;"
                      [(ngModel)]="commande.code_clt" bindValue="id" [items]="clients" bindLabel="nameC"
                      (change)="getReferenceclient()">
                    </ng-select>
                  </div>-->
                  <div class="form-group col-md-3 col-lg-3 input-group-sm">
                    <label _ngcontent-udb-c31="" class="label">Status de commande :</label>
                    <ng-select placeholder="Status" [(ngModel)]="commande.statut">
                      <ng-option value='En attente de confirmation'>En attente de confirmation</ng-option>
                      <ng-option value='Confirmé'>Confirmé</ng-option>
                      <ng-option value='Transformé en OF'>Transformé en OF</ng-option>
                      <ng-option value='En cours de fabrication'>En cours de fabrication</ng-option>
                      <ng-option value='Fabriqué'>Fabriqué</ng-option>
                      <ng-option value='En cours de livraison'>En cours de livraison</ng-option>
                      <ng-option value='Livré'>Livré</ng-option>
                    </ng-select>
                  </div>
                  <div class="form-group col-md-3 col-lg-3 input-group-sm">
                    <label _ngcontent-udb-c31="" class="label">Emise par :</label>
                    <input type="text" name="emisepar" class="form-control" placeholder="Emise par"
                      [(ngModel)]="commande.emisepar" />
                  </div>
                  <div class="form-group col-md-3 col-lg-3 input-group-sm">
                    <label _ngcontent-udb-c31="" class="label">Validité (Jours) :</label>
                    <input type="number" name="finValidite" class="form-control" placeholder="Validité de commande"
                      [(ngModel)]="commande.validite" />

                  </div>
                  <div class="form-group col-md-3 col-lg-3 input-group-sm">
                    <label _ngcontent-udb-c31="" class="label">Date de livraison :</label>
                    <input name="dateLivraison" class="form-control" placeholder="Date de livraison"
                      [(ngModel)]="commande.dateLivraison" [nbDatepicker]="dateLivraison" />
                    <nb-datepicker #dateLivraison>
                    </nb-datepicker>
                  </div>
                </div>
              </nb-card-body>



              <nb-card>
                <nb-card-body>
                  <ng2-smart-table [settings]="settings" [source]="source" (editConfirm)="show($event)"
                    (deleteConfirm)="onDeleteConfirm($event)">
                  </ng2-smart-table>

                </nb-card-body>
                <nb-card-body>

                  <!-- kk -->
                  <div class="row full-name-inputs" style=" margin-left:60%">

                    <div class="form-group col-md-7 col-lg-7 input-group-sm">
                      <label _ngcontent-udb-c31="" class="label">Prix HT :</label>
                      <input disabled name="sommeTotaleHt" type="text" placeholder="Prix HT" class="form-control"
                        [(ngModel)]="commande.sommeTotaleHt" currencyMask style="border: 2px solid orange;
                        border-radius: 4px;"
                        [options]="{ prefix: '', thousands: thousands, decimal: decimal,precision: precision, align:'left'}" />
                    </div>
                    <div class="form-group col-md-5 col-lg-5 input-group-sm">
                      <label _ngcontent-udb-c31="" class="label">Remise(%) :</label>

                      <input disabled type="number" name="remise" placeholder="Remise" class="form-control"
                        [(ngModel)]="commande.remise" />
                    </div>
                  </div>


                  <div class="row full-name-inputs" style=" margin-left:60%">
                    <div class="form-group col-md-7 col-lg-7 input-group-sm">
                      <label _ngcontent-udb-c31="" class="label">Prix net HT :</label>
                      <input type="text" name="sommeRemise" placeholder="Prix net HT" class="form-control"
                        [(ngModel)]="commande.sommeRemise" disabled currencyMask style="border: 2px solid orange;
                        border-radius: 4px;"
                        [options]="{ prefix: '', thousands: thousands, decimal: decimal,precision: precision, align:'left'}" />
                    </div>
                    <div class="form-group col-md-5 col-lg-5 input-group-sm">
                      <label _ngcontent-udb-c31="" class="label">Prix TVA :</label>
                      <input type="text" placeholder="Prix TVA" class="form-control" name="sommeTVA"
                        [(ngModel)]="commande.sommeTVA" currencyMask style="border: 2px solid orange;
                        border-radius: 4px;"
                        [options]="{ prefix: '', thousands: thousands, decimal: decimal,precision: precision, align:'left'}"
                        disabled />
                    </div>


                  </div>
                  <div class=" row full-name-inputs" style=" margin-left:60%">
                    <div class="form-group col-md-12 col-lg-12 input-group-sm">
                      <label _ngcontent-udb-c31="" class="label">Prix TTC :</label>
                      <input type="text" name="sommeTotaleavecTVA" placeholder="Prix TTC" class="form-control"
                        [(ngModel)]="commande.sommeTotaleavecTVA" disabled currencyMask style="border: 2px solid orange;
                        border-radius: 4px;"
                        [options]="{ prefix: '', thousands: thousands, decimal: decimal,precision: precision, align:'left'}" />
                    </div>

                  </div>

                  <div class="row full-name-inputs" style=" margin-left:60%">
                    <div class="form-group col-md-7 col-lg-7 input-group-sm">
                      <label _ngcontent-udb-c31="" class="label">Frais livraison :</label>

                      <input type="text" name="fraislivraison" placeholder="Frais livraison " class="form-control"
                        [(ngModel)]="commande.fraislivraison" disabled currencyMask
                        [options]="{ prefix: '', thousands: thousands, decimal: decimal,precision: precision, align:'left'}" />
                    </div>
                    <div class="form-group col-md-5 col-lg-5 input-group-sm">
                      <label _ngcontent-udb-c31="" class="label">Autre frais :</label>

                      <input type="text" name="autrefrais" placeholder="Autre frais" class="form-control"
                        [(ngModel)]="commande.autrefrais" disabled currencyMask
                        [options]="{ prefix: '', thousands: thousands, decimal: decimal,precision: precision, align:'left'}" />
                    </div>
                  </div>
                  <div class="row full-name-inputs" style=" margin-left:60%">
                    <div class="form-group col-md-8 col-lg-8 input-group-sm">
                      <label _ngcontent-udb-c31="" class="label">Montant à payer :</label>
                      <input type="text" name="sommeFinale" placeholder="Montant à payer" class="form-control"
                        [(ngModel)]="commande.sommeFinale" currencyMask style="border: 2px solid orange;
                        border-radius: 4px;"
                        [options]="{ prefix: '', thousands: thousands, decimal: decimal,precision: precision, align:'left'}"
                        disabled />
                    </div>
                    <div class="form-group col-md-4 col-lg-4 input-group-sm">
                      <label _ngcontent-udb-c31="" class="label">Monnaie :</label>

                      <input name="commandee" placeholder="Monnais" style="width:100%;" class="form-control"
                        [(ngModel)]="devise" disabled>

                    </div>
                  </div>

                  <div class="row full-name-inputs" style=" margin-left:60%">
                    <div class="form-group col-md-12 col-lg-12 input-group-sm">
                      <label _ngcontent-udb-c31="" class="label">Montant à payer en lettre :</label>
                      <input type="text" name="sommeFinale" placeholder="Montant à payer en lettre" class="form-control"
                        [(ngModel)]="commande.sommeFinaleLettre" disabled style="border: 2px solid orange;
                        border-radius: 4px;" />
                    </div>

                  </div>
                  <div class="row full-name-inputs" style=" margin-left:60%">
                    <div class="form-group col-md-8 col-lg-8 input-group-sm">
                      <label _ngcontent-udb-c31="" class="label">Avance :</label>
                      <input type="text" name="montantpayer" class="form-control" placeholder="Montant à payer"
                        [(ngModel)]="commande.montantpayer" currencyMask
                        [options]="{ prefix: '', thousands: thousands, decimal: decimal,precision: precision, align:'left'}" />
                    </div>
                    <div class="form-group col-md-4 col-lg-4 input-group-sm">
                      <label _ngcontent-udb-c31="" class="label">Monnaie :</label>

                      <input disabled name="commandee" [(ngModel)]="devise" placeholder="Monnaie"
                        class="form-control" />
                    </div>
                  </div>
                  <div class="d-flex justify-content-between">
                    <nb-card-body>
                      <div class="row full-name-inputs">
                        <label _ngcontent-udb-c31="" class="label"> Observations :</label>
                        <div class="form-group col-md-10 col-lg-10 input-group-sm">
                          <textarea class="form-control" style="min-height:250%;"
                            [(ngModel)]="commande.commentaire"></textarea>
                        </div>
                      </div>
                    </nb-card-body>
                    <nb-card-body>
                      <div class="row full-name-inputs" style=" margin-left:18%">
                        <div class="form-group col-md-8 col-lg-8 input-group-sm">
                          <label _ngcontent-udb-c31="" class="label">Montant rester :</label>
                          <input type="text" name="montantReste" class="form-control" placeholder="Montant rester"
                            [(ngModel)]="commande.montantReste" currencyMask disabled style="border: 2px solid orange;
                            border-radius: 4px;"
                            [options]="{ prefix: '', thousands: thousands, decimal: decimal,precision: precision, align:'left'}" />
                        </div>
                        <div class="form-group col-md-4 col-lg-4 input-group-sm">
                          <label _ngcontent-udb-c31="" class="label">Monnaie :</label>

                          <input disabled name="commandee" [(ngModel)]="devise" placeholder="Monnaie"
                            class="form-control" />
                        </div>
                      </div>
                      <div class="row full-name-inputs" style=" margin-left:18%">
                        <div class="form-group col-md-8 col-lg-8 input-group-sm">
                          <label _ngcontent-udb-c31="" class="label">Montant rester en lettre :</label>
                          <input type="text" name="montantReste" placeholder="Montant rester en lettre"
                            class="form-control" [(ngModel)]="commande.montantResteLettre"
                            (click)="NumberToLetter(commande.montantReste)" style="border: 2px solid orange;
                            border-radius: 4px;" />
                        </div>
                        <div class="form-group col-md-4 col-lg-4 input-group-sm">
                          <label _ngcontent-udb-c31="" class="label">Monnaie :</label>
                          <input name="commandee" [(ngModel)]="devise" placeholder="Monnaie" class="form-control" />
                        </div>
                      </div>
                    </nb-card-body>
                  </div>
                </nb-card-body>
              </nb-card>

            </nb-tab>


          </nb-tabset>
        </nb-card-body>
      </nb-card>
      <div style="text-align:right;">
        <button [hidden]="disabled2" nbButton style="cursor: pointer;margin: 0.5rem;align-content: center;"
          status="success" (click)="onAddRCM() ">{{ARCM}}</button>
        <button (click)="onclose()" nbButton status="danger"
          style="cursor: pointer;margin: 0.5rem;align-content: center;">Annuler</button>
      </div>
    </div>
  </div>
</div>