      <nb-select hero placeholder="Opération" status="info" size="xsmall" id="test" [(ngModel)]="test" >
        <nb-option (click)="choix()" value='Contrat' ><i class="ion-clipboard ng-star-inserted"> </i> Contrat</nb-option>
        <nb-option (click)="choix()" value='Demande prix' ><i class="ion-clipboard ng-star-inserted"> </i> Demande Prix</nb-option>
        <nb-option value='Commande' (click)="choix()" ><i class="ion-clipboard ng-star-inserted"> </i> Commande</nb-option>
      </nb-select>
  