<nb-card>
  <nb-card-body>
        <div style="display: flex; justify-content: space-between; margin-bottom: 0.5rem;">
          <div>
            <button nbButton status="primary" (click)="back()"><i class="fas fa-angle-double-left"></i> Retour</button>
          </div>
          <div>
            <button nbButton status="success" (click)="save()"><i class="far fa-save"></i> Enregistrer</button>
          </div>
        </div>

    <div class="row">
      <div class="col-md-6" *ngFor="let  item  of recus;">
        <nb-card>
          <nb-card-body>
            <div style="display: flex; justify-content: center; ">
                <h4 style="text-align: center;">Reçu N°: </h4>  
                <input type="text" maxlength="6"  [(ngModel)]="item.numPaiement">
          </div>
          <!-- <p><strong> Reçu de :</strong></p> --><br>
          <p><strong>La somme de :</strong> {{item.net | number : '0.3-3'}} Dinar </p> 
          <p><strong>Pour :</strong> {{item.nom}} {{item.prenom}}</p>
          <p> <strong>Motif:</strong> salaire de {{item.moisI}}-{{item.annee}}</p>
          <p style="text-align:end;">Date : {{dateDeJour | date}}</p>
          </nb-card-body>
        </nb-card>
      </div>
    </div>

</nb-card-body>
</nb-card>