.star {
    font-size: 1.5rem;
    color: #b0c4de;
  }
.filled {
  color: #1e90ff;
}
.bad {
  color: #deb0b0;
}

.filled.bad {
  color: #ff1e1e;
}
.nice {
  color: #b5deb0;
}

.filled.nice {
  color: #14af67;
}
.star2 {
  position: relative;
  display: inline-block;
  font-size: 3rem;
  color: #d3d3d3;
}
.full {
  color: red;
}
.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: red;
}
hr{
  color: rgb(104, 101, 101);
 }