:host /deep/ ng2-st-tbody-edit-delete {display: inline-block !important;
    height: 0 !important;
 }
 :host /deep/ ng2-st-tbody-custom
 a.ng2-smart-action.ng2-smart-action-custom-custom {
    display: inline-block;
    width: 27px;
    text-align: center;
 }
 :host /deep/ ng2-st-tbody-custom
 a.ng2-smart-action.ng2-smart-action-custom-custom:hover {
    color: #5dcfe3;
 }

 :host /deep/ ng2-smart-table tbody > tr > td {
   padding: 0.25rem 1.25rem;
   }