h1 {
         text-align: center;
        font-family: initial;
}
table, td, th {
        border:  #5e5e5e 2px solid;
      }
      th ,td {
        text-align: center;
        font-family: initial;
         }
    th {
      font-family: initial;
    }
    .description-employeur{
        border: #5e5e5e 1px solid;
       // text-align: center ;
       // height: 7.5rem;
       // display: flex;
        height: 94%;
        margin-right: 0.1rem;
      }