 
<!-- <nb-card>

   <nb-card-header  i18n="@@listFolder"> 
      <button nbButton status="primary" (click)=onClick()> < </button>   
      
       
          Entreprise:   &nbsp;&nbsp;{{entreprise.socialReason}}
      
          <button nbButton class="btn btn-hero-success input-group-text"   style="  margin: 0% 0% 0% 70%;" (click)=onClick2()> Journaux </button>  
        <h4 class="text-center">
            Exercice:   {{exercice.designation}}-{{exercice.annee}}&nbsp;&nbsp; /&nbsp;&nbsp; Journal:
       
  {{journal.designation}}-Mois:{{journal.mois}}({{exercice.annee}})
    </h4>

  
  </nb-card-header>  
</nb-card> -->

  

    <nb-card  >
        <nb-card-header class="text-center">
             Liste des écritures : 
             <button   nbButton status="danger"
             style="cursor: pointer;margin: 0.5rem;align-content: center;">  {{returnMois(journal)}}</button>
             
           <button [hidden]="selectedMois(journal)" (click)="addEcritures()" class="btn btn-hero-success" nbButton style="padding: 0.4rem 1.5rem; margin-left: 1%;" > +
            </button>
          </nb-card-header>
    <nb-card-body>
      <ng2-smart-table #smartTable 
      class="full-width" 
      [settings]="settings" 
      [source]="source" 
      (deleteConfirm)="onDeleteConfirm($event)" 
      (custom)="onCustom($event)">
      </ng2-smart-table>
  
  </nb-card-body>

</nb-card>