#bouton1{
    line-height:41px;
}
.hidden
{
  display:none;
}
.table-bordered{
  border: 1px solid #262829;
  width: 60%;
}
.table-bordered td{
  border: 1px solid #262829;
} 
.table-bordered th{
  border: 1px solid #262829;
}
.addbtn2 {
  padding: 10px 10px;
}
td.td_largeur {
   width:150px;
  }