<div class="col-md-12  " style="width:1250px; height: 520px">
  <nb-card>
   
  <nb-card-body>
        <label   i18n="@@importC1">Choisir le fichier excel contenant le     Balance à importer</label>
        <!-- <input type="file" (change)="onFileChange($event)" multiple="false" #fileInput style="display: none"  /> -->
        <!-- <input  class="btn btn-primary" type="file"  (change)="onFileChange($event)" multiple="false" > -->
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
          </div>
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="inputGroupFile01" (change)="onFileChange($event)"  aria-describedby="inputGroupFileAddon01">
            <label class="custom-file-label" for="inputGroupFile01">Choose file</label> 
            
              
          </div>
          <!-- <button class="btn btn-info btn-sm" type="button" (click)="refresh()"style="padding: 1%;background-color: tomato;" >
            <i class="fas fa-sync"></i>
        </button> -->
        </div>
        <table class="table table-striped">
             
          <tbody>
            <tr *ngFor="let row of data">
            <td *ngFor="let val of row">
              {{val}}
            </td>
          </tr>
          </tbody>
        </table>

        

       

        
        <button type="button" [disabled]="testEroor" (click)="submitForm()" class="btn btn-primary btn-sm">
          Importer
        </button>
</nb-card-body>
</nb-card>
</div>
 
