<div class="row">

  <div class="col-lg-6">
    <nb-card style="height:650px;">
      <nb-card-header>Bons de livraison</nb-card-header>
      <nb-card-body>
        <ngx-analyse-bon-de-livraison></ngx-analyse-bon-de-livraison>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card style="height:650px;">
      <nb-card-header>Bon de livraison par facture</nb-card-header>
      <nb-card-body>
        <ngx-analyse-bon-de-livraison-facture></ngx-analyse-bon-de-livraison-facture>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-7">
    <nb-card style="height:650px;">
      <nb-card-header>Analyse les paiements</nb-card-header>
      <nb-card-body>
        <ngx-analyse-paiement></ngx-analyse-paiement>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-5">
    <nb-card style="height:650px;">
      <nb-card-header>Devis</nb-card-header>
      <nb-card-body>
        <ngx-analyse-devis></ngx-analyse-devis>
      </nb-card-body>
    </nb-card>
  </div>
</div>