<div class="col-md-12 col-lg-12" style="width:1150px; height: 550px">
  <div class="row">
      <nb-card>
          <label class="table-title"><strong> Congé en attente </strong></label> 
        <div class="col-lg-12" style="width:1140px; height: 520px;">

        <nb-card-body>
          <table class="table table-bordered table-striped" >
            <thead>
              <tr>
                <th scope="col" class="td-style">Matricule</th>
                <th scope="col" class="td-style">Nom</th>
                <th scope="col" class="td-style">Prénom</th>
                <th scope="col" class="td-style">Fonction</th>
                <th scope="col" class="td-style">Désignation</th>
                <th scope="col" class="td-style">Date Début  </th>
                <th scope="col" class="td-style">Date Fin  </th>
                <th scope="col"class="td-style">Jours</th>
                <th scope="col" class="td-style">Etat</th>
                <th scope="col" class="td-style">Date Demande  </th>

                <!-- <th scope="col" class="td-style">Status</th> -->
                <th scope="col" class="td-style" *ngIf='authoritiesConfirm || authoritiesDecline || authoritiesDelete' >Action</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngIf='congeEnAttente == "" '><td colspan="11"><div style="font-size: 15px; color: #5e5e5e;text-align: center;">Pas de congé en attente</div></td></tr>
              <tr *ngFor="let  item  of congeEnAttente;" >
                <td class="td-style">{{item.matriculeEmploye}}</td>
                <td class="td-style">{{item.nomEmploye}}</td>
                <td class="td-style">{{item.prenomEmploye}}</td>
                <td class="td-style">{{item.fonction}}</td>
                <td class="td-style">{{item.congeType.designation}}</td>
                <td class="td-style">{{item.dateDebut | date}} </td>
                <td class="td-style">{{item.dateFin | date}}  </td>
                <td class="td-style">{{item.nbrJours}}</td>
                <td  class="td-style"><div class="td-warning">en attente</div> </td>
                <!-- <td  class="td-style">{{ item.dateCreation | date : "MMM d, y, h:mm a" }}  </td> -->
                <td  class="td-style">{{ item.dateCreation | date }}  </td>
                <td *ngIf='authoritiesConfirm || authoritiesDecline || authoritiesDelete' class="td-style action-style"> 
                  <button class="small-button-success" title="confirmer congé" [hidden]="!authoritiesConfirm" (click)="confirmer(item)" ><i class="fas fa-check"></i></button>
                  <button class="small-button-danger" title="annuler congé" [hidden]='!authoritiesDecline' (click)="annuler(item)"><i class="fas fa-times-circle"></i></button>
                  <button class="small-button-dark" title="supprimer congé" [hidden]="!authoritiesDelete" (click)="supprimer(item)"><i class="fas fa-trash-alt"></i></button>
                </td>                              
              </tr>
            </tbody>
          </table>
<div class="note note-info" *ngIf='congeEnAttente != "" '>
  <div class="note-title">Note</div>
  <div class="note-body">
    <ul>
      <li>
        Veuillez faire toutes vos vérifications avant d'accepter ou annuler un congé. Car une fois traiter avec erreur, votre opération ne pourra être ni modifié, ni supprimé.
      </li>
      <li>
        En cas d'erreur, vous serez obligé de demander un nouveau congé.
      </li>
    </ul>
  </div>
</div>        
 </nb-card-body>
        </div>
      </nb-card>
      <nb-card>
        <label class="table-title"><strong> Congé traiter </strong></label> 
      <div class="col-lg-12" style="width:1140px; height: 420px;">

      <nb-card-body>
       <ng2-smart-table class="full-width text-center" 
        [settings]="settings" 
        [source]="congeTraiter"
    
        >
      </ng2-smart-table> 
        <!-- <table class="table table-bordered table-striped" >
          <thead>
            <tr>
              <th scope="col" class="td-style">Num</th>
              <th scope="col" class="td-style">Nom</th>
              <th scope="col" class="td-style">Prenom</th>
              <th scope="col" class="td-style">Fonction</th>
              <th scope="col" class="td-style">Designation</th>
              <th scope="col" class="td-style">Date debut  </th>
              <th scope="col" class="td-style">Date fin  </th>
              <th scope="col"class="td-style">Jours</th>
              <th scope="col" class="td-style">Etat</th>
              <th scope="col" class="td-style">Date demande  </th>
              <th scope="col" class="td-style">Date traitement  </th> 
            </tr>
          </thead>
          <tbody>
            <tr *ngIf='congeTraiter == "" '><td colspan="11"><div style="font-size: 15px; color: #5e5e5e;text-align: center;">Pas de congé en attente</div></td></tr>
            <tr *ngFor="let  item  of congeTraiter;" >
              <td >{{item.matriculeEmploye}}</td>
              <td >{{item.nomEmploye}}</td>
              <td >{{item.prenomEmploye}}</td>
              <td >{{item.fonction}}</td>
              <td >{{item.congeType.designation}}</td>
              <td  class="td-style">{{item.dateDebut | date}} </td>
              <td  class="td-style">{{item.dateFin | date}}  </td>
              <td    class="td-style">{{item.nbrJours}}</td>
              <td   class="td-style" style="width: 8%;" *ngIf="item.etat == '0'"><div  class="td-danger">annuler</div> </td>
              <td  class="td-style" style="width: 8%;" *ngIf="item.etat == '2'"><div  class="td-success">confirmer</div> </td>        
              <td  class="td-style">{{item.dateCreation | date : "M/d/yy H:mm "}}  </td>
              <td  class="td-style">{{item.dateConfirmation | date : "M/d/yy H:mm "}}  </td>                        
            </tr>
          </tbody>
        </table> -->
      </nb-card-body>
      </div>
    </nb-card>



  </div>
</div> 