<div class="col-md-12  " style="width:950px;" >
  <nb-card>
    <nb-card-body>
      <!-- <form class="form-group" (ngSubmit)="addLead()" autocomplete="off" #addLeadForm=ngForm> -->

        <div class="row full-name-inputs label">
          <div class="input-group col-md-2   input-group-sm">
            <label for="activity">Référence:</label> 
          </div>
          <div class="input-group col-md-5   input-group-sm">
            <label class="text-label" for="socialReason">Dénomination</label>
          </div>
          <div class="input-group col-md-2   input-group-sm">
            <label for="activity">Ajoutée par:</label> 
          </div>
        <div class="input-group col-md-3   input-group-sm">
            <label for="activity">Chiffres d'affaires estimée</label>
        </div>
      </div>
        <div class="row full-name-inputs">
          <div class="input-group col-md-2 input-group-sm">
            <input type="text" placeholder="Référence" name="ref" #ref [(ngModel)]="lead.ref" maxlength="50"
              class="form-control" required i18n="@@ref">
          </div>
          <div class="input-group col-md-5 input-group-sm">
            <input type="text" name="socialReason" #socialReason [(ngModel)]="lead.leadName" maxlength="50"
              class="form-control" required i18n="@@socialReason">
          </div>
          <div class="input-group col-md-2  input-group-sm">
            <input type="text" name="createdBy" #createdBy  disabled [(ngModel)]="lead.username" class="form-control"
              i18n="@@activity">
          </div>
          <div class="input-group col-md-3  input-group-sm">
            <input type="text" name="activity" #activity [(ngModel)]="lead.leadValue" class="form-control"
              i18n="@@activity">
          </div>
        </div>

        <div class="row full-name-inputs label">
          <div class="input-group col-md-4   input-group-sm">
            <label for="tradeCode">Prospecteur(s)</label>
          </div>

          <div class="input-group col-md-4   input-group-sm">
            <label for="tradeCode">Prospect</label>
          </div>
          <div class="input-group col-md-4   input-group-sm">
            <label for="tradeCode">Etape</label>
          </div>
          <!-- <div class="input-group col-md-5   input-group-sm" hidden>
        <nb-select hero  placeholder="Forme juridique" name="jurform" status="info" > 
            <nb-option  [value]="1" >1</nb-option>
        </nb-select>
    </div> -->
        </div>
        <div class="row full-name-inputs">
          <div class="input-group col-md-4   input-group-sm">

            <ng-select [items]="intervenants"
              bindLabel="username"
              [disabled]="disabled"
              name="intervenant"
              [closeOnSelect]="false"
              [multiple]="true"
              placeholder="Choisir"
              [(ngModel)]="lead.intervenant"
              style="width:100%">
              </ng-select> 
          </div>
          <div class="input-group col-md-4   input-group-sm">

            <ng-select [items]="prospects"
            placeholder="Choisir"
            bindLabel="prospectName"
            bindValue="prospectID"
            name="leadProspect"
            [(ngModel)]="lead.prospect.prospectID"
            style="width:100%">
            </ng-select>

          </div> 
          <div class="input-group col-md-4  input-group-sm">

            <ng-select [items]="steps"
            placeholder="Choisir"

            bindLabel="stepName"
            bindValue="stepID"
            name="leadStep"
            [(ngModel)]="lead.leadStep.stepID"
            style="width:100%">
            </ng-select>
          </div>
        </div>
        <div class="row full-name-inputs label">
          <div class="input-group col-md-3   input-group-sm">
            <label for="matriCode">Date début</label>
          </div>
          <div class="input-group col-md-3 offset-md-1  input-group-sm">
            <label for="capital">Date de clôture estimée</label>
          </div>
          <div class="input-group col-md-4 offset-md-1  input-group-sm">
            <label for="manager2">Progrès (%)</label>
          </div>
        </div>
        <div class="row full-name-inputs">
          <div class="input-group col-md-4   input-group-sm">
            <input name="startdate" #startdate [(ngModel)]="lead.leadDateCreation" class="form-control"
              [nbDatepicker]="sdatepicker" i18n="@@startdate" required>
            <nb-datepicker #sdatepicker></nb-datepicker>

          </div>
          <div class="input-group col-md-4   input-group-sm">
            <input name="enddate" #enddate [(ngModel)]="lead.leadDateDeadline" class="form-control"
              [nbDatepicker]="edatepicker" i18n="@@enddate" required>
            <nb-datepicker #edatepicker></nb-datepicker>
          </div>
          <div class="input-group col-md-4   input-group-sm">
            <input name="manager2" #manager2 [(ngModel)]="lead.leadScore" class="form-control" i18n="@@manager">
          </div>

        </div>

        <div class="row full-name-inputs label">

          <div class="input-group col-md-7   input-group-sm">
            <label for="email">Commentaire</label>
          </div>
          <div class="input-group col-md-5   input-group-sm">
            <label for="tel">Produit(s)</label>
          </div>
        </div>

        <div class="row full-name-inputs">

          <div class="input-group col-md-7   input-group-sm">
            <textarea class="form-control" name="startdate3" #startdate3 rows="4" cols="60" [(ngModel)]="lead.leadComment"
              placeholder="Commentaire" rows="1" shape="round"></textarea>
          </div>
          <div class="input-group col-md-5   input-group-sm">

            <ng-select [items]="products"  [clearable]="false"
            [closeOnSelect]="false"
            placeholder="Choisir"
            [multiple]="true"
            bindLabel="designation"
            name="leadStatuses"
            [appendTo]="'body'"
            [(ngModel)]="lead.produit"
            style="height:40px;width:100%">
            </ng-select>
          </div>
        </div>
        <!-- 
    <div class="row full-name-inputs label">
        <div class="input-group col-md-12   input-group-sm">
             <label for="address">Addresse du siège</label> 
        </div>
      </div>

              <div class="row full-name-inputs">
      <div class="input-group col-md-12   input-group-sm">
          <input type="text" name="address" #asddres   [(ngModel)]="placeholdervar" class="form-control" i18n="@@socialReason"/>
      </div>
    </div>

    <div class="row full-name-inputs label">
        <div class="input-group col-md-5   input-group-sm">
             <label for="country">Pays</label> 
        </div>
        <div class="input-group col-md-3   input-group-sm">
             <label for="zipCode">Code postal</label> 
          </div>
      </div>

    <div class="row full-name-inputs">
        <div class="input-group col-md-5   input-group-sm">
            <input type="text" name="country" #country   [(ngModel)]="placeholdervar" class="form-control" i18n="Pays"/>
        </div>
        <div class="input-group col-md-3   input-group-sm">
            <input type="number" name="zipCode"    [(ngModel)]="placeholdervar" class="form-control"/>
          </div>
          <div class="input-group col-md-4   input-group-sm">
         
        </div>
      </div>

      <div [hidden]="x">
      <div class="row full-name-inputs label">
          <div class="input-group col-md-4   input-group-sm">
               <label for="startdate">Début de l'exrcice</label> 
               
            </div>
            <div class="input-group col-md-4   input-group-sm">
                 <label for="enddate">Fin de l'exrcice</label> 
               
            </div>
      </div>

    <div class="row full-name-inputs">
     
          </div>
    </div> -->

      <!-- </form> -->
    </nb-card-body>
  </nb-card>

  <div style="text-align:right;">
    <button nbButton hero status="success" (click)="addLead()">{{valider}}</button>
    <button nbButton hero status="danger" (click)="close()"
      style="margin-left: 3px;">Fermer</button>
  
  </div>
</div>
