<nb-card>
  <nb-card-header class="text-center">
    Liste des conditions des paiements&nbsp;
    <button  [hidden]=add (click)="openWindow()" nbButton size="xsmall" status="success" style="width: 100px">
      <i class="fa fa-plus" aria-hidden="true"></i>
    </button>
  </nb-card-header>
  <nb-card-body>
    <ng2-smart-table class="full-width text-center" [settings]="settings" [source]="source"
    (custom)="onCustom($event)"
      (deleteConfirm)="onDeleteConfirm($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>