<div class="col-md-12 col-lg-12" style="width: 50vw; height: 25vh">


  <form #monFormulaire1=ngForm>


   

        <div class="row full-name-inputs">
          <div class="form-group col-md-6 col-lg-6 input-group-sm">
            <label _ngcontent-udb-c31="" class="label">  Réference :</label>
            <input [disabled]="disabled" type="text" name="name" placeholder="Réference" class="form-control"  required  [(ngModel)]="ilot.code" />

          </div>


          <div class="form-group col-md-6 col-lg-6 input-group-sm">
            <label _ngcontent-udb-c31="" class="label">   Désignation     :</label>
            <input   [disabled]="disabled" type="text" name="des" placeholder=" Désignation  " class="form-control"  required  [(ngModel)]="ilot.designation" />
          </div>

        </div>


        <div class="row full-name-inputs">
          <div class="form-group col-md-6 col-lg-6 input-group-sm">
            <label _ngcontent-udb-c31="" class="label"> Date Création:</label>
            <input   placeholder="  Date Création  " nbInput  class="form-control"    [nbDatepicker]="dateDebut"
                    [(ngModel)]="ilot.dateCreation"  name="date"   [disabled]="disabled"/>
                <nb-datepicker #dateDebut   ></nb-datepicker>
          </div>

           

          <div class="form-group col-md-6 col-lg-6 input-group-sm">
            <label _ngcontent-udb-c31="" class="label">      Chéf  Illot      :</label>
        <ng-select 
          name="chef" 
          placeholder="choisir ..  "
           [appendTo]="'body'" 
           [clearable]="true"
          [items]="employees" 
          bindLabel="nom"  
         
          [multiple]="false"  
           
          [disabled]=disabled
          [(ngModel)]="ilot.chef"
           style="width:100%;"
          >
        </ng-select>
          </div>

      

        
        </div>

           




        

         







 
    <div style="text-align:right;" [hidden]="disabled" >
      <button  nbButton style="cursor: pointer;margin: 0.5rem;align-content: center;" status="success"
        [disabled]=!monFormulaire1.valid (click)="add()"> {{message}}</button>
      <button  (click)="onclose()" nbButton status="danger"
        style="cursor: pointer;margin: 0.5rem;align-content: center;">Annuler</button>
    </div>


  </form>
</div>