<div class="col-md-12 col-lg-12" style="width:950px;height: 500px">
  <div class="row">
    <div class="col-lg-12" style="width:600px">
      <nb-card>
        <nb-card-body>
          <div class="row">
            <div class="form-group col-md-12 col-lg-12 input-group-sm">
              <label _ngcontent-udb-c31="" class="label">Bon de commande:</label>
              <ng-select name="bonDeCommande" [items]="bonDeCommandes" bindValue="idBC" bindLabel="reference"
                placeholder="Bon de commande" [(ngModel)]="bonDeCommande"
                (change)="onChargeBC($event, documentGrp.value)" [appendTo]="'body'" style="width:100%;">
              </ng-select>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-3 col-lg-3 input-group-sm">
              <label _ngcontent-udb-c31="" class="label">Référence:</label>
              <input placeholder="Désignation" [(ngModel)]="bonDeLivraisonAchat.reference" class="form-control">
            </div>
            <div class="form-group col-md-3 col-lg-3 input-group-sm">
              <label _ngcontent-udb-c31="" class="label">Fournisseur:</label>
              <ng-select name="fournisseurs" [items]="fournisseurs" bindValue="id" bindLabel="nameF"
                placeholder="Fournisseur" [(ngModel)]="bonDeLivraisonAchat.idFournisseur" [appendTo]="'body'"
                style="width:100%;" disabled>
              </ng-select>
            </div>
            <div class="form-group col-md-3 col-lg-3 input-group-sm">
              <label _ngcontent-udb-c31="" class="label">Date de bon de commande:</label>
              <input placeholder="Date de bon de commande" name="dateCommande"
                [(ngModel)]="bonDeLivraisonAchat.dateCommande" class="form-control" [nbDatepicker]="dateCommande"
                i18n="@@dateCommande" disabled>
              <nb-datepicker #dateCommande></nb-datepicker>
            </div>
            <div class="form-group col-md-3 col-lg-3 input-group-sm">
              <label _ngcontent-udb-c31="" class="label">Date de livraison:</label>
              <input placeholder="Date de livraison" name="dateLivraison"
                [(ngModel)]="bonDeLivraisonAchat.dateLivraison" class="form-control" [nbDatepicker]="dateLivraison"
                i18n="@@dateLivraison" required>
              <nb-datepicker #dateLivraison></nb-datepicker>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6 col-lg-6 input-group-sm">
              <label _ngcontent-udb-c31="" class="label">Magasin :</label>
              <ng-select name="magasin" [items]="magasins" bindValue="idMagasin" bindLabel="nameMagasin"
                placeholder="Magasin" [(ngModel)]="bonDeLivraisonAchat.idMagasin" (change)="onChargeAdresse($event)"
                [appendTo]="'body'" style="width:100%;" disabled>
              </ng-select>
            </div>
            <div class="form-group col-md-6 col-lg-6 input-group-sm">
              <label _ngcontent-udb-c31="" class="label">Adresse de livraison:</label>
              <input placeholder="Date Livraison" name="dateLivraison" [(ngModel)]="bonDeLivraisonAchat.lieuLivraison"
                class="form-control" i18n="@@startdate" disabled>
            </div>
          </div>
          <h5 style="text-align: center;">Liste des produits</h5>
          <div ng-repeat="let documentGrp of documentGrps" id="main-form-content">
            <form [formGroup]="documentGrp">
                <div formArrayName="itemss">
                  <div *ngFor="let item of itemss.controls; let i = index;">
                    <div [formGroupName]="i">
                      <div class="row full-name-inputs">
                        <div class="form-group col-md-7 col-lg-7 input-group-sm required">
                          <label _ngcontent-udb-c31="" class="label">Produit:</label>
                          <ng-select [items]="produits" bindValue="code" bindLabel="code" name="produits"
                            formControlName="idProduit" placeholder="Produit" [appendTo]="'body'" style="width:100%; "
                            size="xsmall">
                          </ng-select>
                          <div class="help-block"></div>
                        </div>
                        <div class="form-group col-md-4 col-lg-4 input-group-sm">
                          <label _ngcontent-udb-c31="" class="label">Quantité:</label>
                          <input type="number" placeholder="Quantité" class="form-control" formControlName="quantity" />
                        </div>
                        <div class="remove input-group col-md-1 col-lg-1">
                          <button nbButton status="danger" size="xsmall"
                            style="height: 2.25rem;padding: 0px 5px 0px 5px; margin-top: 1.5rem;"
                            title="Supprimer la ligne" (click)="removeItem(i)"> <i
                              class="fas fa-trash-alt"></i></button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </form>
          </div>
        </nb-card-body>
      </nb-card>
      <div style="text-align:right;">
        <button nbButton size="xsmall" status="success" style="cursor: pointer;margin: 0.5rem;align-content: center;"
          (click)="onAdd(documentGrp.value)">{{A}}</button>
        <button nbButton size="xsmall" status="danger" style="cursor: pointer;margin: 0.5rem;align-content: center;"
          (click)="close()">Annuler</button>
      </div>
    </div>
  </div>
</div>